/*definindo a imagem de fundo */
body{
    background-image: url("../media/fundo02.jpg");
    background-repeat: no-repeat fixed;
    background-size: cover;

}

.logo{
    background-image: url("../media/logotheslap.png");
    width: 445px;
    height: 140px;
    margin-left: 500px;
    background-size: cover;

}