/*definindo a imagem de fundo */
body{
    background-image: url("../media/fundo02.jpg");
    background-repeat: no-repeat fixed;
    background-size: cover;
}


.logo{
    background-image: url("../media/logotheslap.png");
    width: 445px;
    height: 140px;
    margin-left: 400px;
    background-size: cover;

}


/*definindo o card*/
.card{
    background-color: #7ED1EF;
    border: 8px solid #E90078;
    height: 220px; /*altura */
    width: 700px; /*Largura */
    margin: 0 auto;
    border-radius: 20px;
    left:50%;
    top:50%;
    margin-left:-350px; /* Metade do valor da Largura */
    margin-top:-185px; /* Metade da valor da Altura */
    position:absolute;
}

.card_itens >label{
    font-size: 23px;
    font-weight: bold;
    color: #1702A0;
    font-family:Arial;
}

.card_itens >input{
    border: 0px;
    background: #AFD7E9;
    border-radius: 8px;
    aling-items: center;
}

nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav {
    margin: 0 auto;
    text-align: center;
}
nav ul {
	background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
}


/* sistema de login*/
#labeluser{
    text-align: right;
    margin-left: 8px;
}

#labelpwd{
    text-align: left;
    margin-left: 8px;
}

#inputuser{
    text-align: left;
    width: 98%;
    height: 33px;
    margin-left: 8px;
    margin-top: 10px;
}

#inputpwd{
    width: 98%;
    height: 33px;
    margin-top: 42px;
    margin-left: 8px;
}


.card_profile{
    background-image: url("../media/blankuser.png");

    background-color: #7ED1EF;
    border: 8px   solid  #E90078;
    height: 150px; /*altura */
    width: 150px; /*Largura */
    margin: 0 auto;
    border-radius: 20px 0px 0px 20px;
    left:10%;
    top:50%;
    margin-left:-236px; /* Metade do valor da Largura */
    margin-top:-70px; /* Metade da valor da Altura */
    position:absolute;
    text-align: center;
    align-items: center;
    background-size: cover;
}

.card_register{
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
}


#bttnlogin{
    height: 83px;
    width: 358px;
    color: #FFFF30;
    font-size: 23px;
    font-weight: bold;
    font-family:Arial;
    border-radius: 20px 20px 20px 20px;
    border: 8px   solid  #E90078;
    margin-left: 348px; /* Metade do valor da Largura */
    margin-top: 80px; /* Metade da valor da Altura */
    background-color: #151020;
    background-size: cover;

}
/*mudando a cor do botão de login quando o mouse passar por cima */
#bttnlogin:hover {
   color: #6600E4;
   background-color: #AFD7E9;
}
