{% extends 'base.html' %}
{% load static %}

{% block title %} Contato {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" >
{% endblock css %}

{% block content %}
<div class="content">
    <h4>Envie-nos um email!</h4>
    <form action="{% url 'app:contact_result' %}" method="POST">{% csrf_token %}
      <input type="email" name="email" placeholder="Email" required>
      <div class="input-group">
        <input type="text" name="first_name" placeholder="Nome" required>
        <input type="text" name="last_name" placeholder="Sobrenome" required>
      </div>
      <textarea name="content" cols="30" rows="10" placeholder="Mensagem">
      </textarea>
      <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}