{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheSlap</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}" >
</head>
<body>
    <div class="logo"></div>
    <form class="form" action="">
        <div class="card" >
            <div class="card_itens" >
                <div class="post_feed_01">
                    <h1>Artur</h1>
                    <label>to deixando de assistir one piece p fazer seu trabalho me da 10 pfvr ;-;</label><br>
                    <button class="slapar"></button>
                    <button class="profilepic"></button>
                </div>

                <div class="post_feed_02">
                    <h1>Bolsonaroegril</h1>
                    <label>gente só eu que acho lula muito bonito? s2</label><br>
                    <button class="slapar"></button>
                    <button class="profilepic"></button>


                </div>

            </div>
            <div class="card_profile"/>

               </div>
            </div>
            </div>

        </div>
    </form>
</body>
</html>