{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}" >
{% endblock css %}

{% block content %}
<form class="form" action="">
    <div class="card" >
        <div class="card_itens" >
            <a class="post_feed_01" href="{% url 'app:post' 1 %}">
                <h1>Artur</h1>
                <label>to deixando de assistir one piece p fazer seu trabalho me da 10 pfvr ;-;</label><br>
                <button class="slapar"></button>
                <button class="profilepic"></button>
            </a>

            <a class="post_feed_02" href="{% url 'app:post' 2 %}">
                <h1>BolsonaroEGirl</h1>
                <label>gente só eu que acho lula muito bonito? s2</label><br>
                <button class="slapar"></button>
                <button class="profilepic"></button>
            </a>

            </div><div class="card_profile"/></div></div>
        </div>
    </div>
</form>
{% endblock content %}
