{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheSlap</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" >
</head>
<body>
    <div class="logo"></div>
    <form class="form" action="">
        <div class="card">
            <div class="card_itens">
                <label id="labeluser">User:</label>
                <input id="inputuser" name="User" placeholder="digite seu user">
                <label id="labelpwd">Pwd:</label>
                <input id="inputpwd" type="text" name="Psswd" placeholder="digite sua senha">
                <button id="bttnregister" class="register_button" type="button" onclick="window.location.href = 'http://127.0.0.1:8000/register/.'">come together</button>
                <button id="bttnlogin" class="login_button" type="button" onclick="window.location.href = 'http://127.0.0.1:8000/home/'">Login</button>
            </div>
                <div class="card_profile"/>
            </div>
        </div>
    </form>
</body>
</html>