{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
{% endblock css %}

{% block content %}
<form method="POST">{% csrf_token %}
    <div class="card">
        <div class="card_itens">
            <div class="input-group">
                <label for="user">User: </label>
                <input id="user"
                       name="username"
                       placeholder="Nome de usuário"
                       required
                >
            </div>
            <div class="input-group">
                <label for="password">Pwrd: </label>
                <input id="password"
                       type="password"
                       name="password"
                       placeholder="Password"
                       required
                >
            </div>

            <a href="{% url 'app:register' %}"
               id="btn_register"
               class="register_button"
            >
                Come Together
            </a>
            <button id="btn_login"
                    class="login_button"
                    type="submit"
            >
                Login
            </button>
        </div>
        <div class="card_profile"/></div>
    </div>
</form>
{% endblock content %}
