{% extends 'base.html' %}
{% load static %}

{% block title %} Criar Post {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post_style.css' %}" >
{% endblock css %}

{% block content %}
<form class="form" action="">
    <div class="card">
        <div class="card_itens">
            <label id="labeluser">artur:</label>
            <input id="inputpost" name="User" placeholder="digite seu post">
                <select id="button">
                    <option value="0">feeling:</option>
                    <option value="1">enbucetado</option>
                    <option value="2">frustated</option>
                </select>
                </button>
        </div>
        <div class="card_profile"/>
        </div>
        <div>
            <a href="{% url 'app:home' %}" id="bttnpost">Postar</a>
        </div>
    </div>
</form>
{% endblock content %}
