{% extends 'base.html' %}
{% load static %}

{% block title %} Registro {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register_style.css' %}" >
{% endblock css %}

{% block content %}
<form class="form" method="POST">{% csrf_token %}
    <div class="card">
        <div class="card_itens">
            <label id="labeluser">Username: </label>
            <input id="inputuser" name="User" placeholder="Username" required />
            <label id="labelpwd">Password:</label>
            <input id="inputpwd" type="text" name="Psswd" placeholder="Password" required />
            <button id="bttnlogin" class="register_button" type="submit">register</button>
        </div>
            <div class="card_profile"/>
        </div>
    </div>
</form>
{% endblock content %}
